<% provide(:title, 'Sign up') %>

<h1>Sign up</h1>

<div class="flex flex-col w-[400px] border border-gray-200 bg-gray-50 p-5 rounded-md m-auto">
    <%= form_with(model: @user, local:true, class: "flex flex-col gap-4", data: { turbo: false } ) do |f| %>

      <%= render 'shared/error_messages', errors: @user.errors.full_messages %>
   
      <%= f.label :name, class: "form-label" %>
      <%= f.text_field :name, class: "form-input" %>

      <%= f.label :email, class: "form-label" %>
      <%= f.text_field :email, class: "form-input" %>

      <%= f.label :password, class: "form-label" %>
      <%= f.text_field :password, type:"password", class: "form-input" %>

      <%= f.label :password_confirmation, "Confirmation", class: "form-label" %>
      <%= f.text_field :password_confirmation, type:"password", class: "form-input" %>
        
      <%= f.submit "Create account", class:"primary-button" %>
    <% end %>
</div>

