<div class="flex flex-col items-center gap-4">
    <%= gravatar_for current_user, size: 100, classes:"rounded-md" %>

    <div class="flex flex-col items-center">
        <%= link_to current_user.name, user_path(current_user), 
            :class=> "mb-1 text-xl font-medium text-gray-900 dark:text-white" %>
        <span class="text-sm text-gray-500 dark:text-gray-400">
            <%= current_user.email %>
        </span>
    </div>
    
    <% if current_user.microposts.count > 0 %>
        <span class="bg-indigo-100 text-indigo-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-indigo-900 dark:text-indigo-300 self-center">
            <%= pluralize(current_user.microposts.count, "post") %>
        </span>
    <% end %>

    <%= render "shared/stats" %>
</div>
