<div class="w-full bg-white border-b border-gray-200 dark:bg-gray-800 py-3 relative" id="micropost-<%= micropost.id %>" >
    <div class="flex justify-end px-4 pt-2 absolute top-0 right-0">
        <button id="dropdownButton" data-dropdown-toggle="dropdown" class="inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-1.5" type="button">
            <span class="sr-only">Open dropdown</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"></path></svg>
        </button>
        <!-- Dropdown menu -->
        <div id="dropdown" class="z-10 hidden text-base list-none bg-white divide-y divide-gray-100 rounded shadow w-44 dark:bg-gray-700">
            <ul class="py-1" aria-labelledby="dropdownButton">
               <% if current_user?(micropost.user) %>
                    <li>
                        <%= link_to "Delete post", micropost, method: :delete, 
                            data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, 
                            :class => "block px-4 py-2 text-sm text-red-600 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"%>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
    <div class="flex flex-row items-center gap-6">
        <%= gravatar_for micropost.user, size: 50, classes:"rounded-md self-start" %>

        <div class="flex flex-col gap-1 items-start">
            <div>
                <%= link_to micropost.user.name, user_path(micropost.user), :class => "text-base font-medium text-gray-900 dark:text-white" %>
               
                <p class="text-sm text-gray-700 dark:text-gray-400">
                    <%= micropost.content %>
                </p>
                <!-- TODO: Would be cool to find a way to do a modal click view w/ stimulus(not jquery please) to maximize the image to its full potential -->
                <%= image_tag micropost.display_image, :class => "max-w-[400px]" if micropost.image.attached? %>
            </div>
            <span class="text-xs text-gray-400 dark:text-gray-400">
                Posted <%= time_ago_in_words(micropost.created_at) %> ago.
            </span>
        </div>
    </div>
</div>
