<%# Snippet from https://flowbite.com/docs/components/navbar/ %>

<nav class="bg-white px-2 sm:px-4 py-2.5 dark:bg-gray-900 fixed w-full z-20 top-0 left-0 border-b border-gray-200 dark:border-gray-600">
  <div class="container flex flex-wrap items-center justify-between mx-auto">
    <a href="<%= root_path %>" class="flex items-center">
        <img src="https://flowbite.com/docs/images/logo.svg" class="h-6 mr-3 sm:h-9" alt="Flowbite Logo">
        <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Flowbite</span>
    </a>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
        <ul class="flex flex-col items-center p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
            <li>
                <%= link_to "Home", root_path, :class => active_class(root_path, "nav-link") %>
            </li>
            <li>
                <%= link_to "About", about_path, :class => active_class(about_path, "nav-link")  %>
            </li>
            <li>
                <%= link_to "Contact", contact_path, :class => active_class(contact_path, "nav-link")  %>
            </li>
            <li>
                <%= link_to "Help", help_path, :class => active_class(help_path, "nav-link")  %>
            </li>

            <% if logged_in? %>
            <li>
                <button id="dropdownDefaultButton" data-dropdown-toggle="user-dropdown" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
                <%= current_user.email %>
                    <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                    </svg>
                </button>
                <div id="user-dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded shadow w-44 dark:bg-gray-700">
                    <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                        <li>
                            <%= link_to "Profile", current_user, :class => "block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"  %>
                        </li>
                        <li>
                            <%= link_to "Settings", "#", :class => "block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"  %>
                        </li>
                    </ul>
                    <div class="py-1">
                        <%= link_to "Logout", logout_path, 
                        method: :delete, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, 
                        :class => "block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"  %>
                    </div>
                </div>
            </li>
            <% else %>
            <li>
                <%= button_to "Log in", login_path,
                :class => "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800", 
                :method => :get %>
            </li>
            <% end %>
        </ul>
    </div>
  </div>
</nav>
