<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= page_full_title(yield(:title)) %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex flex-col justify-between">
    <%= render 'layouts/header' %>
    <main class="flex flex-col gap-2 min-h-[calc(100vh_-_260px)] overflow-auto items-start">
      <div class="container mx-auto mt-28 px-5">
        <%= render 'shared/flash_messages' %>
        <%= yield %>
        <%= debug(params) if Rails.env.development? %>
      </div>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
